<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <ul>
            <% items.forEach(item => { %>
                <li>
                    <a href="/items/<%= item.id %>">
                        <%= item.name%>
                    </a>
                </li>
            <% }) %>
        </ul>
        <a href="/items/create">Add new item</a>
        <br>
        <a href="/">Back to categories</a>
    </body>
</html>