<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <form action="/category/create" method="POST">
            <label for="name">Name</label>
            <input name="name" />
            <br>
            <label for="description">Description</label>
            <input name="description" />
            <br>
            <button type="submit">Create Category</button>
        </form>
        <a href="/">Back to categories</a>
    </body>
</html>