<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1><%= title %></h1>
        <h2>Categories</h2>
        <ul>
            <% categories.forEach(category => { %>
                <li>
                    <a href="/category/<%= category.id %>">
                        <%= category.name %>
                    </a>
                </li>
            <% }) %>
        </ul>
        <a href="/category/create">Create New Category</a>
    </body>
</html>